<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098627702306-vtonkga3cprbk2cj5j6j3lrniqdkhb8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098627702306-vtonkga3cprbk2cj5j6j3lrniqdkhb8t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1098627702306-g1ea7kdnu4ka0jm7cie2d2tcfmpo0s7f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBil8LEcgAJ34Uo2w2-EE3X7Jhbm9PmNys</string>
	<key>GCM_SENDER_ID</key>
	<string>1098627702306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.optimalsoft.samrtable</string>
	<key>PROJECT_ID</key>
	<string>smarttable-44f51</string>
	<key>STORAGE_BUCKET</key>
	<string>smarttable-44f51.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098627702306:ios:bd107fa441eb7ce4bd747b</string>
</dict>
</plist>